fastapi[standard]
uvicorn[standard]
httpx
python-dotenv
ruff
sqlmodel
pytest
pydantic-settings
asyncpg
timezonefinder
pyswisseph
geopy
any-llm-sdk[openai]
requests
pytest-asyncio
testcontainers[postgres]
twilio